.container{
    height: 62vh;
}
.sidebar{
    height: 40vh;
    text-align: center;
}

.content-1{
    height:18vh;
    align-items: center;

   
}

.footer{
    height: 8vh;
    text-align: center;
 
}